In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
import numpy as np

In [14]:
fd_1 = pd.read_csv("fd_1.csv", index_col=0)

In [15]:
fd_1.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link,Unnamed: 13
Entry Id,,,,,,,,,,,,,
S2014268241,nba,3/11/20,$4_000 Pro Monthly FDP Loyalty Free Play,$60k,337.5,NaN,100,5092.0,Tournament,0.0,8.0,https://www.fanduel.com/entry/BJUXNNTNX,NaN
S2014175433,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),$60k,337.5,NaN,7,100.0,Tournament,1.0,1.8,https://www.fanduel.com/entry/CLPXLUONU,NaN
S2014175293,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),$60k,337.5,NaN,6,100.0,Tournament,1.0,1.8,https://www.fanduel.com/entry/DZSQVZUWK,NaN
S2014175208,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),$60k,337.5,NaN,8,100.0,Tournament,1.0,1.8,https://www.fanduel.com/entry/BITDDRNYS,NaN
S2014175131,nba,3/11/20,50/50 League ($2 - Top 50% Win) (Main),$60k,337.5,NaN,6,100.0,Tournament,2.0,3.6,https://www.fanduel.com/entry/BNOGNSRFI,NaN

In [23]:
fd_2 = pd.read_csv("fd_2.csv", index_col=0)

In [24]:
fd_2.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1942104080,nba,12/31/19,50/50 League ($2 - Top 50% Win) (Main),$60k,325.0,NaN,42,100,Tournament,2.0,2.03,https://www.fanduel.com/entry/APMUFGNJV
S1942103945,nba,12/31/19,50/50 League ($2 - Top 50% Win) (Main),$60k,325.0,NaN,45,100,Tournament,2.0,1.44,https://www.fanduel.com/entry/EQHVTOZWT
S1942103849,nba,12/31/19,50/50 League ($2 - Top 50% Win) (Main),$60k,325.0,NaN,42,100,Tournament,2.0,2.31,https://www.fanduel.com/entry/CVGIWFFHB
S1942103710,nba,12/31/19,50/50 League ($2 - Top 50% Win) (Main),$60k,325.0,NaN,44,100,Tournament,2.0,1.94,https://www.fanduel.com/entry/DZSVQTULN
S1942103444,nba,12/31/19,50/50 League ($2 - Top 50% Win) (Main),$60k,325.0,NaN,48,100,Tournament,2.0,0.72,https://www.fanduel.com/entry/EPTYGXNYX

In [25]:
fd_3 = pd.read_csv("fd_3.csv", index_col=0)

In [26]:
fd_3.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1898583940,epl,11/30/19,$100 Wonder Strike,$0k,74.4,NaN,34,40,Tournament,3.0,0.0,https://www.fanduel.com/entry/DZFGZOHEH
S1898538782,nfl,12/1/19,50/50 Contest ($2 - Top 50% Win) (Main),$60k,139.4,NaN,27,100,Tournament,2.0,3.6,https://www.fanduel.com/entry/EVRFESVIA
S1898538731,nfl,12/1/19,50/50 Contest ($1 - Top 50% Win) (Main),$60k,139.4,NaN,22,100,Tournament,1.0,1.8,https://www.fanduel.com/entry/COVVPDWIE
S1898538670,nfl,12/1/19,50/50 Contest ($2 - Top 50% Win) (Main),$60k,139.4,NaN,24,100,Tournament,2.0,3.6,https://www.fanduel.com/entry/BKXGHOEYU
S1898538626,nfl,12/1/19,50/50 Contest ($1 - Top 50% Win) (Main),$60k,139.4,NaN,25,100,Tournament,1.0,1.8,https://www.fanduel.com/entry/ANJMVSOSI

In [27]:
fd_4 = pd.read_csv("fd_4.csv", index_col=0)

In [28]:
fd_4.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1862702827,nba,11/5/19,50/50 League ($1 - Top 50% Win) (Main),$60k,337.6,NaN,3,100,Tournament,1.0,1.8,https://www.fanduel.com/entry/EWDQRWIEP
S1862702761,nba,11/5/19,50/50 League ($1 - Top 50% Win) (Main),$60k,337.6,NaN,3,100,Tournament,1.0,1.8,https://www.fanduel.com/entry/ESYFUGTNJ
S1862639831,nba,11/5/19,$10K Tue NBA Swat (3 Entries Max),$60k,267.2,NaN,6598,11904,Tournament,1.0,0.0,https://www.fanduel.com/entry/EVBVMQNNK
S1862639836,nba,11/5/19,$10K Tue NBA Swat (3 Entries Max),$60k,283.4,NaN,4309,11904,Tournament,1.0,0.0,https://www.fanduel.com/entry/EUNXZZBPO
S1862639840,nba,11/5/19,$10K Tue NBA Swat (3 Entries Max),$60k,207.2,NaN,11684,11904,Tournament,1.0,0.0,https://www.fanduel.com/entry/EXTIXZVCQ

In [36]:
fd_5 = pd.read_csv("fd_5.csv", index_col=0)

In [37]:
fd_5.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1249194147,mlb,8/14/17,$11K Mon MLB Bunt (Single Entry),$35k,94.90,NaN,10054,12941,Tournament,1,0.0,https://www.fanduel.com/entry/AHUAPHROU
S1249194115,mlb,8/14/17,$1K Toughest Ticket Contest presented by Ford,$35k,94.90,NaN,21369,27465,Tournament,0,0.0,https://www.fanduel.com/entry/EQPQPZXFW
S1249193638,nfl,8/17/17,$2K Thu NFL Preseason Safety (Single Entry),$60k,23.66,NaN,1126,1176,Tournament,2,0.0,https://www.fanduel.com/entry/DTPURKQRS
S1248961928,mlb,8/13/17,$10K Sun MLB Sac Fly (3 Entries Max),$35k,119.90,NaN,7723,11764,Tournament,1,0.0,https://www.fanduel.com/entry/ENYCNSPXW
S1248961929,mlb,8/13/17,$10K Sun MLB Sac Fly (3 Entries Max),$35k,119.90,NaN,7723,11764,Tournament,1,0.0,https://www.fanduel.com/entry/EJCZDRMRG

In [38]:
fd_6 = pd.read_csv("fd_6.csv", index_col=0)

In [39]:
fd_6.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1564284279,nfl,10/21/18,Covers Championship Series,$60k,119.00,NaN,7027.0,16095,Tournament,0.0,0,https://www.fanduel.com/entry/DFEZSNQAS
S1563136984,nfl,10/21/18,50/50 Contest ($25 - Top 50% Win) (Main),$60k,112.18,NaN,78.0,100,Tournament,25.0,0,https://www.fanduel.com/entry/ALAAGCJWE
S1563136851,nfl,10/21/18,50/50 Contest ($25 - Top 50% Win) (Main),$60k,112.18,NaN,72.0,100,Tournament,25.0,0,https://www.fanduel.com/entry/CAEOTURMI
S1563085548,nfl,10/21/18,$50K Sun NFL Scramble (Single Entry),$60k,112.18,NaN,3607.0,5882,Tournament,10.0,0,https://www.fanduel.com/entry/EFYEHZKTG
S1561321196,cfb,10/20/18,$10K Sat CFB Fight Song,$60k,137.12,NaN,182.0,1621,Tournament,7.0,15,https://www.fanduel.com/entry/DMRPGNGOD

In [40]:
fd_7 = pd.read_csv("fd_7.csv", index_col=0)

In [41]:
fd_7.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1204936442,mlb,4/22/17,$10K Sat MLB Sac Fly (3 Entries Max),$35k,125.8,NaN,6242.0,11764,Tournament,1,0,https://www.fanduel.com/entry/FGCQONLZK
S1204936436,mlb,4/22/17,$10K Sat MLB Sac Fly (3 Entries Max),$35k,137.4,NaN,4672.0,11764,Tournament,1,0,https://www.fanduel.com/entry/FCXFQMSMI
S1204936319,mlb,4/22/17,$8K Sat MLB Bunt (Single Entry),$35k,130.9,NaN,4494.0,9411,Tournament,1,0,https://www.fanduel.com/entry/CJUBVXKFW
S1204935153,mlb,4/22/17,$5K Sat MLB Sac Fly (3 Entries Max_ Early Only),$35k,74.9,NaN,5796.0,5882,Tournament,1,0,https://www.fanduel.com/entry/DBKWYQLHG
S1204935154,mlb,4/22/17,$5K Sat MLB Sac Fly (3 Entries Max_ Early Only),$35k,137.0,NaN,2794.0,5882,Tournament,1,0,https://www.fanduel.com/entry/CWPTOPIAQ

In [42]:
fd_8 = pd.read_csv("fd_8.csv", index_col=0)

In [43]:
fd_8.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S457341279,nba,4/6/16,$10K NBA / MLB 3-Day Cross-Sport Survivor Round 3,$60k,272.2,NaN,942,2104,Tournament,0,4.0,https://www.fanduel.com/entry/AXXPLMJYH
S457341283,nba,4/6/16,$10K NBA / MLB 3-Day Cross-Sport Survivor Round 3,$60k,272.2,NaN,942,2104,Tournament,0,4.0,https://www.fanduel.com/entry/ASOOOTUTV
S457341285,nba,4/6/16,$10K NBA / MLB 3-Day Cross-Sport Survivor Round 3,$60k,272.2,NaN,942,2104,Tournament,0,4.0,https://www.fanduel.com/entry/ARMTPKWYD
S457341286,nba,4/6/16,$10K NBA / MLB 3-Day Cross-Sport Survivor Round 3,$60k,272.2,NaN,942,2104,Tournament,0,4.0,https://www.fanduel.com/entry/AUEHAUENJ
S457336380,nba,4/6/16,$5K NBA / MLB 3-Day Cross-Sport Survivor Round 3,$60k,272.2,NaN,413,1028,Tournament,0,4.0,https://www.fanduel.com/entry/AFEZRABFV

In [44]:
fd_9 = pd.read_csv("fd_9.csv", index_col=0)

In [45]:
fd_9.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1115774069,nba,12/18/16,$18K Sun NBA Dribbler (Single Entry),$60k,275.90,NaN,1786.0,19567,Tournament,1,2,https://www.fanduel.com/entry/EKTCGIORH
S1114883251,nba,12/17/16,The streak had ended!,$60k,316.20,NaN,1.0,4,4 player league,5,18,https://www.fanduel.com/entry/CSJDUZPUC
S1114794971,epl,12/18/16,$3K Sun EPL Sweeper ($3K Guaranteed),$60k,199.25,NaN,7.0,1176,Tournament,3,50,https://www.fanduel.com/entry/CFNLEUESE
S1114771845,epl,12/17/16,EPL Head-to-head (Main),$60k,164.25,180.0,2.0,2,nwalker2,5,0,https://www.fanduel.com/entry/CPDSHESDC
S1114685030,nba,12/17/16,$15K Sat NBA Block (Single Entry),$60k,316.20,NaN,855.0,8676,Tournament,2,4,https://www.fanduel.com/entry/ETVMKDAZH

In [46]:
fd_10 = pd.read_csv("fd_10.csv", index_col=0)

In [47]:
fd_10.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1473574606,mlb,5/31/18,$3K Thu MLB Sac Fly (3 Entries Max),$35k,48.0,NaN,3490.0,3571,Tournament,1.0,0,https://www.fanduel.com/entry/BJPSMCAJJ
S1473574490,mlb,5/31/18,$8K Thu MLB Bunt (Single Entry_ Next Fan Up Ch...,$35k,169.3,NaN,1101.0,9523,Tournament,1.0,2,https://www.fanduel.com/entry/DOHMDGPPB
S1473107849,mlb,5/30/18,$8K Wed MLB Stolen Base (Single Entry),$35k,144.1,NaN,630.0,4761,Tournament,2.0,4,https://www.fanduel.com/entry/CLKQOWPZV
S1473107834,mlb,5/30/18,$5K Wed MLB Sac Fly (3 Entries Max),$35k,111.3,NaN,2829.0,5952,Tournament,1.0,0,https://www.fanduel.com/entry/CPRWMGHIP
S1473107835,mlb,5/30/18,$5K Wed MLB Sac Fly (3 Entries Max),$35k,107.5,NaN,3096.0,5952,Tournament,1.0,0,https://www.fanduel.com/entry/CPDYZOVKT

In [48]:
fd_11 = pd.read_csv("fd_11.csv", index_col=0)

In [49]:
fd_11.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1798834924,mlb,9/19/19,$250 MLB Small Sac Fly,$35k,77.1,NaN,277,297,Tournament,1.0,0.0,https://www.fanduel.com/entry/DJCNTCZFA
S1798834920,mlb,9/19/19,$250 MLB Small Sac Fly,$35k,91.3,NaN,240,297,Tournament,1.0,0.0,https://www.fanduel.com/entry/DOLOPVOJM
S1798834843,mlb,9/19/19,$1500 Thu MLB Stolen Base (Single Entry),$35k,94.3,NaN,778,892,Tournament,2.0,0.0,https://www.fanduel.com/entry/EBHGHRCMO
S1798834784,mlb,9/19/19,$2K Thu MLB Bunt (Single Entry),$35k,118.3,NaN,1458,2380,Tournament,1.0,0.0,https://www.fanduel.com/entry/EFAOSJHXM
S1798340170,mlb,9/18/19,50/50 Contest ($5 - Top 50% Win) (Main),$35k,120.3,NaN,25,100,Tournament,5.0,9.0,https://www.fanduel.com/entry/EHSCTMTQR

In [50]:
fd_12 = pd.read_csv("fd_12.csv", index_col=0)

In [51]:
fd_12.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1688306979,nba,2/27/19,$16K Wed NBA Block (Single Entry),$60k,278.5,NaN,5728,9523,Tournament,2.0,0.0,https://www.fanduel.com/entry/DXANVFKUV
S1688306912,nba,2/27/19,$17K Wed NBA Dribbler (Single Entry),$60k,278.5,NaN,11981,20238,Tournament,1.0,0.0,https://www.fanduel.com/entry/CPIQCXOAN
S1687835269,nba,2/26/19,$13K Tue NBA Block (Single Entry),$60k,252.9,NaN,2717,7738,Tournament,2.0,0.0,https://www.fanduel.com/entry/CXJENZSMM
S1687835260,nba,2/26/19,$8K Tue NBA Swat (3 Entries Max),$60k,242.7,NaN,4611,9523,Tournament,1.0,0.0,https://www.fanduel.com/entry/DSFKNTKKQ
S1687835261,nba,2/26/19,$8K Tue NBA Swat (3 Entries Max),$60k,252.9,NaN,3453,9523,Tournament,1.0,0.0,https://www.fanduel.com/entry/DRRNBBYMU

In [52]:
fd_13 = pd.read_csv("fd_13.csv", index_col=0)

In [53]:
fd_13.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1370462608,nfl,12/31/17,My Loser Friends (NFL Contest 14),$60k,91.10,NaN,4.0,5,5 player league,2,0,https://www.fanduel.com/entry/BZDKSHTMO
S1370462396,nfl,12/31/17,First World Problem (NFL Contest 17),$60k,74.76,NaN,9.0,9,9 player league,5,0,https://www.fanduel.com/entry/DJMVWKCRY
S1370365731,nba,12/27/17,$17K Wed NBA Block (Single Entry),$60k,279.40,NaN,5181.0,10119,Tournament,2,0,https://www.fanduel.com/entry/EYRLBPHVF
S1370365709,nba,12/27/17,$10K Wed NBA Swat (3 Entries Max),$60k,300.50,NaN,3091.0,11904,Tournament,1,0,https://www.fanduel.com/entry/ALARVSTCL
S1370365711,nba,12/27/17,$10K Wed NBA Swat (3 Entries Max),$60k,310.40,NaN,1936.0,11904,Tournament,1,2,https://www.fanduel.com/entry/AGFOLRPVV

In [54]:
fd_14 = pd.read_csv("fd_14.csv", index_col=0)

In [55]:
fd_14.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link
Entry Id,,,,,,,,,,,,
S1025976874,nfl,9/22/16,50/50 Contest ($10 - Top 50% Win) (Thu-Mon),$60k,85.80,NaN,80,100,Tournament,10,0.0,https://www.fanduel.com/entry/DWXNPIRWD
S1025665013,nfl,9/25/16,Jacksonville Sportsrich Showdown,$60k,74.86,NaN,1145,1335,Tournament,0,0.0,https://www.fanduel.com/entry/EUZEFJUEI
S1025578379,mlb,9/22/16,$8K Thu MLB Stolen Base (Single Entry),$35k,76.40,NaN,4206,4624,Tournament,2,0.0,https://www.fanduel.com/entry/CPTNISEJP
S1025578140,mlb,9/22/16,$10K Thu MLB Bunt (Single Entry),$35k,63.40,NaN,11040,11560,Tournament,1,0.0,https://www.fanduel.com/entry/FDNQHDVGB
S1025271093,nfl,9/25/16,My Loser Friends (NFL Week 3),$60k,109.98,NaN,5,8,8 player league,5,0.0,https://www.fanduel.com/entry/BBQSCTGZM

In [58]:
fd_1.columns

Index(['Sport', 'Date', 'Title', 'SalaryCap', 'Score', 'Opp Score', 'Position',
       'Entries', 'Opponent', 'Entry ($)', 'Winnings ($)', 'Link',
       'Unnamed: 13'],
      dtype='object')

In [69]:
frames = [fd_1, fd_2, fd_3, fd_4, fd_5, fd_6, fd_7, fd_8, fd_9, fd_10, fd_11, fd_12, fd_13, fd_14]

In [70]:
result = pd.concat(frames)

In [71]:
result.head()

,Sport,Date,Title,SalaryCap,Score,Opp Score,Position,Entries,Opponent,Entry ($),Winnings ($),Link,Unnamed: 13
Entry Id,,,,,,,,,,,,,
S2014268241,nba,3/11/20,$4_000 Pro Monthly FDP Loyalty Free Play,$60k,337.5,NaN,100.0,5092,Tournament,0.0,8,https://www.fanduel.com/entry/BJUXNNTNX,NaN
S2014175433,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),$60k,337.5,NaN,7.0,100,Tournament,1.0,1.8,https://www.fanduel.com/entry/CLPXLUONU,NaN
S2014175293,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),$60k,337.5,NaN,6.0,100,Tournament,1.0,1.8,https://www.fanduel.com/entry/DZSQVZUWK,NaN
S2014175208,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),$60k,337.5,NaN,8.0,100,Tournament,1.0,1.8,https://www.fanduel.com/entry/BITDDRNYS,NaN
S2014175131,nba,3/11/20,50/50 League ($2 - Top 50% Win) (Main),$60k,337.5,NaN,6.0,100,Tournament,2.0,3.6,https://www.fanduel.com/entry/BNOGNSRFI,NaN

In [61]:
col_list = ['Sport', 'Date', 'Title', 'Score', 'Position', 'Entries', 'Entry ($)', 'Winnings ($)']

In [75]:
fd_df = result[col_list].copy()

In [77]:
fd_df = fd_df.dropna()

In [78]:
fd_df.shape

(13700, 8)

In [79]:
fd_df.head()

,Sport,Date,Title,Score,Position,Entries,Entry ($),Winnings ($)
Entry Id,,,,,,,,
S2014268241,nba,3/11/20,$4_000 Pro Monthly FDP Loyalty Free Play,337.5,100.0,5092,0.0,8
S2014175433,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),337.5,7.0,100,1.0,1.8
S2014175293,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),337.5,6.0,100,1.0,1.8
S2014175208,nba,3/11/20,50/50 League ($1 - Top 50% Win) (Main),337.5,8.0,100,1.0,1.8
S2014175131,nba,3/11/20,50/50 League ($2 - Top 50% Win) (Main),337.5,6.0,100,2.0,3.6

In [101]:
fd_df.to_csv(r'/Users/andrewtriola/Documents/flatiron/fd_project/verbose-octo-sniffle/fd_df.csv')

In [81]:
fd_df = fd_df.rename(columns={"Entry ($)": "Entry", "Winnings ($)": "Winnings"})

In [102]:
fd_df.head()

,Sport,Date,Title,Score,Position,Entries,Entry,Winnings
Entry Id,,,,,,,,
S420998224,nba,2016-02-24,NBA Satellite to $300K CBB Survive the Madness...,291.5,5.0,23,5.0,0
S421708105,nba,2016-02-24,Satellite to Wednesday's NBA Slam (5 Tickets),267.4,23.0,71,2.0,0
S421667430,nhl,2016-02-24,$150 NHL Daily Freeroll (Top 80 Win),22.9,8136.0,17180,0.0,0
S421643316,nba,2016-02-24,Satellite to Wednesday's NBA Slam (5 Tickets),221.1,62.0,71,2.0,0
S421388393,nba,2016-02-24,$250K Wed NBA Shot ($20K to 1st),291.5,25463.0,144508,2.0,4

In [100]:
fd_df = fd_df.sort_values(by='Date')

In [93]:
fd_df.Date = pd.to_datetime(fd_df.Date, infer_datetime_format=True)

In [94]:
fd_df.head()

,Sport,Date,Title,Score,Position,Entries,Entry,Winnings
Entry Id,,,,,,,,
S2014268241,nba,2020-03-11,$4_000 Pro Monthly FDP Loyalty Free Play,337.5,100.0,5092,0.0,8
S2014175433,nba,2020-03-11,50/50 League ($1 - Top 50% Win) (Main),337.5,7.0,100,1.0,1.8
S2014175293,nba,2020-03-11,50/50 League ($1 - Top 50% Win) (Main),337.5,6.0,100,1.0,1.8
S2014175208,nba,2020-03-11,50/50 League ($1 - Top 50% Win) (Main),337.5,8.0,100,1.0,1.8
S2014175131,nba,2020-03-11,50/50 League ($2 - Top 50% Win) (Main),337.5,6.0,100,2.0,3.6

In [110]:
fd_df.dtypes

Sport               object
Date        datetime64[ns]
Title               object
Score              float64
Position           float64
Entries            float64
Entry              float64
Winnings           float64
dtype: object

In [107]:
fd_df.Entries = fd_df.Entries.astype('float64')

In [109]:
fd_df.Winnings = fd_df.Winnings.astype('float64')

In [112]:
fd_df.sort_values(by='Winnings', ascending=False).head(20)

,Sport,Date,Title,Score,Position,Entries,Entry,Winnings
Entry Id,,,,,,,,
S1158884398,nba,2017-02-06,$25K Mon NBA Swat (3 Entries Max),413.40,1.0,29411.0,1.0,1500.00
S1528688111,cfb,2018-09-22,$8K Sat CFB Fight Song,168.34,1.0,2210.0,4.0,1000.00
S1340593093,nba,2017-11-28,$10K Tue NBA Swat (3 Entries Max),380.40,1.0,11904.0,1.0,1000.00
S1147802620,epl,2017-01-21,$16K Sat EPL Sweeper ($2K to 1st),209.75,4.0,6274.0,3.0,500.00
S1153192593,nba,2017-01-28,$25K Sat NBA Swat (3 Entries Max),360.20,5.0,29411.0,1.0,350.00
S1569747022,cfb,2018-10-27,$5K Sat CFB Fight Song,161.18,2.0,1488.0,4.0,300.00
S438810178,nba,2016-03-13,$12K Sun NBA Dime (Single Entry),354.90,5.0,1367.0,10.0,216.67
S1921160270,nba,2019-12-16,$8K Mon NBA Swat (3 Entries Max),412.10,2.0,9523.0,1.0,200.00
S438809452,nba,2016-03-13,$2K Sun NBA Dime (Single Entry_ Early Only),315.10,2.0,231.0,10.0,200.00
S1462010933,mlb,2018-05-10,$5K Thu MLB Sac Fly (3 Entries Max),246.40,2.0,5952.0,1.0,200.00
S1018072057,nfl,2016-09-18,NFL WEEK 2,141.52,1.0,20.0,10.0,180.00
S1103758566,nfl,2016-12-11,$2K Sun NFL Mini Spike (Single Entry),170.26,2.0,470.0,5.0,175.00
S1780016729,mlb,2019-08-29,$3K Thu MLB Stolen Base (Single Entry),255.30,2.0,1785.0,2.0,150.00
S501400144,mlb,2016-06-25,$6K Sat MLB Stolen Base (Single Entry),226.10,4.0,3468.0,2.0,150.00
S1489655846,fifa,2018-07-07,$2500 Sat WC Equalizer (Single Entry),180.60,3.0,2976.0,1.0,150.00
S455401941,nba,2016-04-03,$2K Sun NBA Dime (Single Entry_ Afternoon Only),354.60,3.0,231.0,10.0,125.00
S438809813,nba,2016-03-13,$12K Sun NBA Assist (Single Entry),354.90,6.0,2757.0,5.0,120.00
S1365859684,nfl,2017-12-24,RAFFDUEL CHRISTMAS 2017,142.72,1.0,20.0,10.0,90.00
S1062457381,nfl,2016-11-06,Week 9,153.08,1.0,20.0,10.0,90.00
S1041897527,nfl,2016-10-16,NFL Salary Cap 60k Sun Oct 16th (Sun-Mon),130.82,1.0,20.0,10.0,90.00